.interface {
    &__item {
        width: 245px;
        height: 532px;
        border-radius: 10px;
        background: transparent;
    }

    &__img {
        width: 245px;
        height: 532px;
    }

    &__move-btn {
        width: 84px;
        height: 84px;
    }
}